.Page_accueil{

    padding: 0;
    margin: 0;
    background: none;
    width: 100%;
    height: 100%;
}
.header{

    width: 100%;
    height: 445px;
}
.top_bar{

    background-color: #415499;
    display: flex;
    width: 100%;
    height: 35px;
    align-items: center;
    justify-content: space-between;
    
}
.barre_de_recherche{

    margin-left: 10px;
}
.menu_langues{

    margin-right: 10px;
}
.arrière_plan{

    filter: blur(3px);
    width: 100%;
    

}
.logo{

    position: absolute;
    top: 80px;
    right: 693px;
}
.slogan{

    position: absolute;
    color: #ffffff;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: bold;
    top: 279px;
    right: 594px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    border-bottom: solid ;
    border-top: solid;
    border-color: black;
    border-width: 2px;
}
.body{
    margin: 20%;
    margin-top: 10%;
    background-color: white;
    height: 3000px;
}
.rectangle1{
    width: 100%
}
.rectangle2{
    width: 100%;
    margin-top: 15%;
    display: flex;
}
.colonne_gauche{
    width: 50%;
}
.Grand_titre{
    font-size: 60px;
    font-family: Work Sans,Arial,sans-serif;
    
}
a{
    color: none;
    text-decoration: none;
}
.titre_paragraphe{
    font-weight: bold;
    font-size: 27px;
    margin-top: 5px;
    font-family: Work Sans,Arial,sans-serif;
}
.paragraphe{
    font-size: 20px;
    margin-top: 10px;
    font-family: Work Sans,Arial,sans-serif;
}

.sous_element1{
    width: 100%;
    margin-bottom: 1%; 

}
.ligne_titre2{
    width: 100%;
}
.titre_paragraphe2{
    width: 100%;
    font-weight: bold;
    font-size: 27px;
    margin-top: 6px;
    font-family: Work Sans,Arial,sans-serif;
}
.image_economie{
    width: 100%;
}
.paragraphe2{
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
}
.sous_element2{
    width: 100%;
    margin-top: 10%;
}
.ligne_titre3{
    width: 100%;
}
.image_société{
    width: 100%;
}
.colonne_droite{
    width: 50%;
}
.sous_element3{
    background-color: rgb(192, 191, 191);
    width: 90%;
    height: 100%;
    margin-left: 10%;
    
}
.rectangle3{
    margin-top: 10%;
}
.rectangle4{
    margin-top: 5%;
    position: absolute;
    height: 40%;
    width: 60%;
}
.publicité{
    background-color: rgb(192, 191, 191);
    width: 99%;
    height: 80%;
    
}
.footer{
    position: absolute;
    background-color: #415499;
    width: 100%;
    height: 60%;
    margin-top: 10%;
    
}
.logo_footer{
    position: absolute;
    top: 50px;
    right: 683px;
}
.Information_logo{
    position: absolute;
    color: white;
    font-size: 20px;
    top: 280px;
    right:600px;
}
.reseaux_sociaux{
    margin-top: 5%;
}
.facebook{
    position: absolute;
    top: 325px;
    left: 600px;
}
.instagram{
    position: absolute;
    top: 336px;
    left: 730px;
}
.youtube{
    position: absolute;
    top: 325px;
    left: 886px;
}
.text_bottom{
    width: 100%;
    position: absolute;
    top: -30px;
    left: 120px;
}
.copyright{
    color: white;
    position: absolute;
    top: 590px;
    left: 100px;
}
.presentation_entreprise{
    color: white;
    position: absolute;
    top: 590px;
    left: 450px;
}
.contact{
    color: white;
    position: absolute;
    top: 590px;
    left: 680px;
}
.Politique_confidentialité{
    color: white;
    position: absolute;
    top: 590px;
    left: 860px;
}
.pub{
    color: white;
    position: absolute;
    top: 590px;
    left: 1160px;
}

/* Page de conncetion*/

.Page_de_connection{
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 96vh;
}
.head{
    width: 100%;
    height: 200px;
    background-color: #415499;;
}
.corps{
    width: 100%;
    height: 700px;
}
.Rectangle_informations{
    background-color: rgb(51, 47, 47);
    background-size: cover;
    width: 460px;
    height: 860px;
    position: relative;
    top: 0px;
    left: 0px; 
    
}


/* Qui sommes nous */

.body2{
    margin: 20%;
    margin-top: 10%;
    background-color: white;
}
.grandtitre{
    font-size: 60px;
    font-family: Work Sans,Arial,sans-serif;
    text-align: center;
}
.sous_titre{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
}
.oriental_image{
    position: relative;
    right: -120px;
    margin-top: 5%;
    
}
.text{
    margin-top: 5%;
    font-size: 20px;
    width: 100%;
    font-family: Work Sans,Arial,sans-serif;
    text-align: center;
}
